@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Singleton: @ViewBag.Singleton</p>
    <p>Scoped: @ViewBag.Scoped</p>
    <p>Transient: @ViewBag.Transient</p>
    <hr />
    <p>Singleton in Service : @ViewBag.ServiceSingleton</p>
    <p>Scoped in Service: @ViewBag.ServiceScoped</p>
    <p>Transient in Service: @ViewBag.ServiceTransient</p>
</div>
