@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        @foreach (var course in Model.CourseLists)
        {
            <div class="col-3">
                <div class="card">
                    <img src="@course.ImageUrl" class="img-fluid">
                    <div class="card-body">
                        <p class="card-text">@course.Title</p>
                        <p class="card-text">@course.Description</p>
                        <p class="card-text">@course.Duration saat</p>


                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<div>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.Total; i++)
        {
            <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Home" asp-route-pageNo="@i">@i</a></li>
        }
    </ul>
</div>*@

<div page-model="@Model.PagingInfo" page-action="Index"></div>